.Container {
  display: flex;
}

.Week{
  display: flex;
  width: 100%;

  border: 1px black solid;
  /* border-radius: 10px; */
  padding: 0px;
  margin: 0px;

}

.WeekDay{
  width: 100%;
}

.WeekDay-Day {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  background-color: black;
}
.WeekDay-Day h3{

  color: white;
  padding: 0px;
  margin: 0px;
}

.DayCard{
  margin: 5px;
}


.add-container{
  border-top: 1px black solid;
	padding: 0;
}

.clean-btn{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
  width: 100%;
  text-align: end;
  padding:  5px;
  cursor: pointer;
}
