.CliForm{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

@media (max-width: 959px) {
}
.tel{
    margin-top: 15px;
}


