.clientContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CliForm{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}


/* @media (max-width: 959px) { */
/* } */
/* .tel{ */
/*     margin-top: 15px; */
/* } */


