.employee-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-size{
  font-size: 15px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.control-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon-edit:hover {
    color: var(--text-login);
}

.icon-delete:hover {
    color: #FD1F4A;
}

.MuiInputLabel-root {
    color: black !important;
}

.MuiInputLabel-root.Mui-focused {
    color: #FD1F4A !important;
}

.MuiInputLabel-root.MuiInputLabel-shrink:not(.Mui-focused) {
    color: black !important;
}

.employee-table table th,
.employee-table table td {
    padding: 15px;
    text-align: center;
}

.employee-table table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

.employee-table table td {
    font-size: 1rem;
    border: none;
}

.employee-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.employee-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.employee-table button.edit-btn,
.employee-table button.delete-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.btn-add-employee{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.btn-add-employee span{
  margin-right: 5px;
}




@media (max-width: 768px) {
    .employee-table table th,
    .employee-table table td {
        font-size: 0.9rem;
        padding: 10px;
    }
}
