/* Estiliza o botão hambúrguer */
.hamburger {
  background: #FFBD0D;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Ocultar por padrão */
}

button.hamburger:hover{
  background: #e59400;
}

/* Oculta o menu em telas menores */
.filter-buttons {
  display: flex;
  gap: 10px;
}

/* Modo responsivo: mostra o botão e esconde os botões */
@media (max-width: 959px) {
  .hamburger {
    display: block;
  }

  .filter-buttons {
    display: none;
    flex-direction: column;
    position: relative;
    background: white;
    /* border: 1px solid #ccc; */
    padding: 10px;
    /* top: 50px; */
    /* left: 10px; */
    /* right: 10px; */
    z-index: 1000;
  }

  /* Exibir quando o menu estiver aberto */
  .filter-buttons.open {
    display: flex;
  }
}

