:root {
--fg-white: #ffffff;
  --bg-white-alt: #f5f5f5;
  /* --bg-grey: #f0f0f0; */
  --bg-yellow: #FFBD0D;
  --bg-yellow-alt: #e59400;
  --fg-black: #000000;
  --bg-grey: #e6e6e6;
  --fg-red: #f44336;
  --bg-red: #f44336;
  --bg-red-alt: #ab180e;
  --btn-border-radius: 20px;
  --btn-border-size: 1px;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --bg-white: #ffffff;
  --bg-yellow: #FFBD0D;
  --bg-yellow-alt: #e59400;
  --fg-black: #000000;
  --fg-red: #f44336;
  --bg-red: #f44336;
  --bg-red-alt: #ab180e;
}
/* Estiliza o botão hambúrguer */
.hamburger {
  background: #FFBD0D;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Ocultar por padrão */
}

button.hamburger:hover{
  background: #e59400;
}

/* Oculta o menu em telas menores */
.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-buttons .filter-btn {
  padding: 0;
}

.filter-btn-text{
  /* padding: 15px 0px 15px 5px; */
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filter-badge {
  color: black;
  /* background: #f6f6f655; */
  background: #00000010;
  /* border-left: 2px solid #f6f6f655; */
  border-radius: 0 50% 50% 0;
  /* padding: 2px 8px; */
  /* padding: 0px 0px 0 5px; */
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.75rem;
  margin-left: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 30px;
}


/* Modo responsivo: mostra o botão e esconde os botões */
@media (max-width: 959px) {
  .hamburger {
    display: block;
  }

  .filter-buttons {
    display: none;
    flex-direction: column;
    position: relative;
    background: white;
    /* border: 1px solid #ccc; */
    padding: 10px;
    /* top: 50px; */
    /* left: 10px; */
    /* right: 10px; */
    z-index: 1000;
  }

  /* Exibir quando o menu estiver aberto */
  .filter-buttons.open {
    display: flex;
  }
  .filter-buttons .filter-btn {
    border-radius: 10px;
  }
}

