* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

:root {
--fg-white: #ffffff;
  --bg-white-alt: #f5f5f5;
  --bg-yellow: #FFBD0D;
  --bg-yellow-alt: #e59400;
  --fg-black: #000000;
  --bg-grey: #e6e6e6;
  --fg-red: #f44336;
  --bg-red: #f44336;
  --bg-red-alt: #ab180e;
  --bg-blue: blue;
  --bg-blue-alt: darkblue;
  --btn-border-radius: 20px;
  --btn-border-size: 1px;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --bg-white: #ffffff;
  --bg-yellow: #FFBD0D;
  --bg-yellow-alt: #e59400;
  --fg-black: #000000;
  --fg-red: #f44336;
  --bg-red: #f44336;
  --bg-red-alt: #ab180e;
}

body {
  /* height: 100vh; */
}
background-color: var(--bg-white);

main{
  margin-top: 35 px;
}

.btn-add {
  background-color: var(--bg-yellow);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-add:hover {
  background-color: var(--bg-yellow-alt);
}

.btn-cancel {
  background-color: var(--bg-red);
  color: var(--fg-white);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-cancel:hover {
  background-color: var(--bg-red-alt);
}




.title {
  color: #000000;
  font-size: 1.5rem;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.infoClient {
  position: relative;
  top: 2em;
}

.client-table  table {
  position: relative;
  top:2em;
}


.product-table  {
  position:relative;
  top: 2em;
}

.pagina-nao-encontrada {
  position:relative;
  top:2em;
}




.RegisterBtn {
  height: auto;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  background-color: var(--bg-yellow);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
  background-color: var(--bg-yellow-alt);
  }
}
